body{
    background-color: brown;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.container {
    background-color: coral;
    width: 350px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 5px black;
}
.image-container {
    background-image: url('images/pic-1.jpg');
    background-repeat: repeat;
    
    width: 320px;
    height: 350px;
    box-shadow: 0px 0px 10px 5px gray;
    z-index: 1;
    position: relative;
}
.button1{
    position: absolute;
    top:50%;
    
    background-color: black;
    color:white;
    font-size: 20px;
    padding: 3px;
    margin: 2px;
}
#forwardBtn {
    position: absolute;
    right: 0;
}
.button1:hover{
    border: 1px solid red;
}
#white {
    color: white;
}